/* top-player */
body {

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 237, 235);
}

.container {
    width: 870px;
    margin-top: -30px;
    background-color: white;
    padding: 33px 30px;
    margin-top: 20px;
    border-radius: 5px;

}

.player-title {
    color: #562EFF;
    font-size: 25px;
}

.top-player {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    background-color: white;
    margin-bottom: 30px;


}

.player {
    display: flex;
    align-items: center;
}

.player img {
    height: 56px;
    width: 56px;
}

.player-name {
    padding-left: 15px;
}

hr {
    border: 1px solid #D1D1D1;
}



/* top-blogs */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.thembel {
    display: flex;
}

.thembel img {
    width: 177px;
    height: 117px;
}

.thembel-text {
    margin-left: 30px;
    margin-top: -15px;
}

.thembel-text a {
    text-decoration: none;
    color: #562EFF;
}

.thembel-text a span {
    color: #9F9F9F;
}

/* Letest-course */
.courses {
    display: flex;
    gap: 11%;

}



.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-info {
    display: flex;
    gap: 15px;
}

.fa-star.filled {
    color: #FFC014;
    font-size: 12px;
}

.fa-star.emtry {
    font-size: 12px;
    color: #AEAEAE;
}

.clock {
    background-color: #FFE4E8;
    color: #FF4A60;
}

.course-detail p {
    color: red;
}

/* Media-Quaris */
/* for mobile device */
@media screen and (max-width:688px) {

    /* top-player */
    .container {
        width: 100%;

    }

    .top-player {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .player-title {
        font-size: 43px;
    }

    .player {
        flex-direction: column;
    }

    .player img {
        width: 70%;
        height: 70%;
    }

    .player-name {
        font-size: 40px;
    }

    /* top-blogs */
    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .thembel {
        justify-content: center;
        gap: 20px;
        margin: 20px 0px;
    }

    .thembel img {
        width: 300px;
        height: 200px;
    }

    .thembel-text {
        font-size: 23px;
        margin-top: 10px;
    }

    /* Letest Course */

    .courses {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 120px;

    }

    .course {
        flex-direction: column;
        margin-left: 13%;
    }

    .course .course-banner img {
        width: 450px;
        height: 300px;
    }

    .course-detail {
        font-size: 30px;
    }

    .fa-star.filled {
        font-size: 25px;
    }

    .clock {
        font-size: 22px;
    }


}